body {
	background-color: #F0F0F0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 130%;
}

div {
}

a {
	color: #3B48D4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #3B48D4;
}
a.disabled {
	color: grey;
	font-style: italic;
	text-decoration: none;
}

div#main {
	width: auto;
}

div#header {
	height: 69px;
	width: auto;
	background-image: url("../images/banner.png");
	background-position: top left;
	background-color: #ba0001;
	background-repeat: no-repeat;
}
div#header h1 {
	color: #eee;
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size: 32px;
	font-weight: bold;
	font-family: Verdana, serif;
	padding-top: 26px;
	padding-left: 20px;
}

div#breadcrumb-wrapper {
	padding-top: 10px;
	padding-left: 20px;
}
#breadcrumbs {
	margin: 0;
	padding: 0;
}
#breadcrumbs li {
	display: inline;
}
#breadcrumbs li a, #breadcrumbs li span {
	padding-left: 16px;
	background: url("../images/breadcrumb-sep.png") no-repeat;
	background-position: 4px center;
}
#breadcrumbs li .first {
	background: none;
	padding-left: 0px;
}

div#content-wrapper {
	width: auto;
	padding: 10px;
}

div#content {
	border: 1px solid grey;
	padding: 10px;
	background-color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	min-width: 900px;
}

div#app-loading {
	margin: 80px 0px 80px 80px;
	padding: 8px 8px 8px 42px;
	background-image: url("../images/app-spinner.gif");
	background-repeat: no-repeat;
	background-position: top left;
}
div#app-loading h1 {
	font-size: 18px;
}

div#footer {
	width: auto;
	font-size: 11px;
	padding: 10px;
}