<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <distributable/> 
  <error-page>
    <error-code>403</error-code>
    <location>/403.html</location>
  </error-page>

  <!-- Filters -->
  <filter>
    <filter-name>GWTCacheControl</filter-name>
    <filter-class>org.overlord.commons.gwt.server.filters.GWTCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GWTCacheControl</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GWTCacheControl</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GWTCacheControl</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GWTCacheControl</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>ResourceCacheControl</filter-name>
    <filter-class>org.overlord.commons.gwt.server.filters.ResourceCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/css/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/js/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>org.overlord.sramp.ui.server.filters.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/app/services/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>KeycloakBearerTokenFilter</filter-name>
    <filter-class>org.overlord.sramp.ui.server.filters.KeycloakBearerTokenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KeycloakBearerTokenFilter</filter-name>
    <url-pattern>/app/services/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>KeycloakBearerTokenFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ArtifactDownload</servlet-name>
    <servlet-class>org.overlord.sramp.ui.server.servlets.ArtifactDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtifactDownload</servlet-name>
    <url-pattern>/app/services/artifactDownload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ArtifactUpload</servlet-name>
    <servlet-class>org.overlord.sramp.ui.server.servlets.ArtifactUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtifactUpload</servlet-name>
    <url-pattern>/app/services/artifactUpload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>OntologyUpload</servlet-name>
    <servlet-class>org.overlord.sramp.ui.server.servlets.OntologyUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OntologyUpload</servlet-name>
    <url-pattern>/app/services/ontologyUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OntologyDownload</servlet-name>
    <servlet-class>org.overlord.sramp.ui.server.servlets.OntologyDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OntologyDownload</servlet-name>
    <url-pattern>/app/services/ontologyDownload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KeyCloakLogout</servlet-name>
    <servlet-class>org.overlord.sramp.ui.server.servlets.KeyCloakLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeyCloakLogout</servlet-name>
    <url-pattern>/app/services/logout</url-pattern>
  </servlet-mapping>

  <!-- Security -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>s-ramp-ui</web-resource-name>
      <url-pattern>/index.html</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>s-ramp-rest</web-resource-name>
      <url-pattern>/rest/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>s-ramp-app</web-resource-name>
      <url-pattern>/app/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>governance</realm-name>
  </login-config>

  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>
