/* Global Responsive Styles */
body.no-fileupload .requires-fileupload {
  display: none;
  visibility: hidden;
}

/* Huge Desktop */
@media ( min-width : 1900px) {
}

/* Desktop */
@media ( min-width : 768px) {
  .mobile-only {
    display: none !important;
  }
  .no-desktop {
    display: none !important;
  }
  #page .closed-on-desktop {
    display: none;
  }

  /* Header should be fixed for desktops */
  body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sramp-navbar-fixed-top {
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
  }
  .sramp-navbar-fixed-top .navbar-inner {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .sramp-filter-sidebar {
    max-width: 330px;
  }
  #sramp-filters {
    height: auto;
    border-top: 1px solid #d3d3d3;
  }
  
}

/* Mobile */
@media ( max-width : 767px) {
  .desktop-only {
    display: none !important;
  }
  .no-mobile {
    display: none !important;
  }
  #page .closed-on-mobile {
    display: none;
  }

  
  .navbar {
    margin-bottom: 0px;
  }

  body {
    padding: 0px;
  }

  #page-content {
    padding: 5px;
  }

  .sramp-settings .sramp-settings-sh {
    padding: 5px 10px 5px 10px;
    line-height: normal;
  }
  
  .sramp-settings-header {
    margin-bottom: 3px;
  }

  .row-fluid .sramp-settings-property-list {
    border-bottom: 1px solid #d3d3d3;
    min-height: 0px;
  }
  
  .sramp-tab-content {
    padding-left: 8px;
    padding-right: 8px;
  }

  .modal-header .close {
    display: none;
  }

}


/* Phones */
@media ( max-width : 480px) {
  #fileupload-import .uneditable-input {
    width: 42%;
  }
  .growl-dialog {
    width: 320px;
  }
}


/* iPhone */
@media ( max-width : 360px) {
  .growl-dialog {
    width: 350px;
  }
}
