body {
  background-color: #eaeaea;
}

.btn-focus {
    color: #2da0db;
    text-shadow: 0px 1px 0px white;
}
.btn-focus:hover {
    color: #2da0db;
}
.btn-clear {
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.navbar {
  background-image: url("../images/header-center.png");
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-inner {
  min-height: 72px;
  background-image: url("../images/header-logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  border: none;
}
.navbar .brand {
  text-indent: -5000px;
  width: 175px;
}
.navbar-inverse .nav li a {
  color: #dadaff;
}
.navbar-inverse .nav .active a, .navbar-inverse .nav .active a:hover, .navbar-inverse .nav .active a:focus {
  background-color: transparent;
}
.navbar .nav li a {
  padding: 25px 15px 23px 15px;
}
.nav-shadowman {
  background-image: url("../images/header-shadowman.png");
  width: 60px;
  height: 72px;
}
#mobile-nav-btn {
  color: white;
  margin-top: 20px;
  background-image: url("../images/header-nav-phone.png");
  height: 30px;
  width: 30px;
  text-indent: -3000px;
}
#mobile-nav {
}
#mobile-nav .nav-list {
  padding-bottom: 10px;
  background-color: #d9d9d9;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.mobile-header {
  text-indent: 15px;
  background-color: #1f97d8;
  border-bottom: 2px solid #d3d3d3;
}
.mobile-header a {
  padding-top: 5px;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
}
.mobile-header span.caret {
  color: white;
  margin-top: 8px;
  margin-right: 8px;
  border-top: 4px solid white;
}

#sramp-filters {
  margin-bottom: 5px;
}

#accordion-filters .sramp-vspacer {
  min-height: 10px;
  height: 10px;
}

.s-ramp-filter-header, .sramp-filter-body {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.s-ramp-filter-header .sramp-filter-toggle {
  border-bottom: 1px solid #d3d3d3;
  background-color: #f6f6f6;
  background-image: url("../images/s-ramp-filter-header-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  text-shadow: 1px 1px #fafafa;
}
.s-ramp-filter-header .collapsed {
}
.sramp-filter-body {
}
.sramp-filter-inner {
  padding: 9px 15px 0px;
}

.sramp-filter-toggle {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
  color: #666;
  font-weight: bold;
}

.sramp-filter-list {
  margin-bottom: 10px;
}
.sramp-filter-list .icon-chevron-right {
  float: right;
  margin-top: 3px;
}
.sramp-filter-list li a {
  color: rgb(51,51,51);
}

.s-ramp-filter-footer {
  margin-top: -20px;
}

.s-ramp-filter-footer .sramp-filter-toggle {
  border-bottom: 1px solid #d3d3d3;
  height: 12px;
  background-image: url("../images/s-ramp-filter-footer-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
}

.s-ramp-filter-footer .sramp-filter-toggle .caret {
  margin-top: 4px;
}

.sramp-artifacts {
}

.sramp-search {
  padding: 5px;
}

.sramp-artifacts-actions {
  padding: 5px;
}

.sramp-sp4n-label {
  padding: 4px 12px;
  line-height: 20px;
  display: inline;
}

.sramp-filter-label {
  cursor: default;
}

.sramp-nav-tabs {
  margin-bottom: 0px;
}

.sramp-tab-content {
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 15px;
}

.sramp-meta-data-section {
  margin-top: 15px;
}

.sramp-meta-data-section .btn {
  margin-top: 5px;
}

.sramp-meta-data-section-header {
  font-weight: bold;
  border-bottom: 1px dotted #afafaf;
  float: left;
}

.sramp-meta-data-section-label {
  white-space: nowrap;
  min-width: 130px;
  float: left;
}

.sramp-meta-data-section-value {
  float: left;
}

.sramp-relationship-type {
  font-weight: bold;
  background-color: #f6f6f6;
}

.sramp-relationship-table, .sramp-history-table {
  margin-top: 15px;
}

.sramp-source-editor-wrapper {
  margin-top: 15px;
  background-color: #fff8f8;
  position: relative;
  height: 350px;
  border: 1px solid rgb(221, 221, 221);
}

.sramp-source-editor {
  left: 0px;
  top: 0px;
  bottom: 1px;
  right: 1px;
  background: white;
}

#ontologies {
  height: 500px;
  border: 1px solid rgb(221, 221, 221);
}
#ontologies ul {
  margin-bottom: 0px;
}

.sramp-ontology-box-header {
  font-weight: bold;
  background-color: rgb(245, 240, 240);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 3px;
  height: 20px;
}

#ontology-editor {
  height: 500px;
  border: 1px solid rgb(221, 221, 221);
  overflow-x: auto;
  overflow-y: hidden;
}

#ontology-editor .sramp-ontology-tier {
  width: 220px;
  border-right: 1px solid rgb(221, 221, 221);
  height: 498px;
  float: left;
}

#ontology-editor .sramp-ontology-tier .sramp-ontology-tier-header {
  background-color: rgb(245, 240, 240);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 3px;
  height: 20px;
}

#ontology-editor .sramp-ontology-tier ul {
  margin: 0px;
}

#ontology-editor .sramp-ontology-editor-canvas {
}
