#accordian-filters .sramp-vspacer {
    min-height: 10px;
    height: 10px;
}

.sramp-filter-list {
    margin-bottom: 10px;
}

.sramp-filter-list .icon-chevron-right {
    float: right;
    margin-top: 3px;
}

.sramp-filter-list li a {
    color: rgb(51,51,51);
}

.sramp-artifacts {
}

.sramp-search {
    padding: 5px;
}

.sramp-artifacts-actions {
    padding: 5px;
}

.sramp-sp4n-label {
    padding: 4px 12px;
    line-height: 20px;
    display: inline;
}

.sramp-filter-label {
    cursor: default;
}

.sramp-nav-tabs {
    margin-bottom: 0px;
}

.sramp-tab-content {
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 15px;
}

.sramp-meta-data-section {
    margin-top: 15px;
}

.sramp-meta-data-section .btn {
    margin-top: 5px;
}

.sramp-meta-data-section-header {
    font-weight: bold;
    border-bottom: 1px dotted #afafaf;
    float: left;
}

.sramp-meta-data-section-label {
    white-space: nowrap;
    min-width: 130px;
    float: left;
}

.sramp-meta-data-section-value {
    float: left;
}

.sramp-relationship-type {
    font-weight: bold;
    background-color: #f6f6f6;
}

.sramp-relationship-table, .sramp-history-table {
    margin-top: 15px;
}

.sramp-source-editor-wrapper {
    margin-top: 15px;
    background-color: #fff8f8;
    position: relative;
    height: 350px;
    border: 1px solid rgb(221, 221, 221);
}

.sramp-source-editor {
    left: 0px;
    top: 0px;
    bottom: 1px;
    right: 1px;
    background: white;
}
