#accordian-filters .sramp-vspacer {
	min-height: 10px;
	height: 10px;
}

.sramp-filter-list {
	margin-bottom: 10px;
}

.sramp-filter-list .icon-chevron-right {
    float: right;
    margin-top: 3px;
}

.sramp-filter-list li a {
	color: rgb(51,51,51);
}

.sramp-artifacts {
}

.sramp-search {
    padding: 5px;
}

.sramp-artifacts-actions {
	padding: 5px;
}

.sramp-btn-label {
	padding: 4px 12px;
	line-height: 20px;
}

.sramp-filter-label {
	cursor: default;
}