/* ------------------------------------------------
 * Stylesheet for UI Dialogs
 * ------------------------------------------------ */
S

/* Common Dialog Styles */
.dialogGlass {
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 49;
}
.dialog {
  text-align: left;
  z-index: 50;
}
.dialog .Caption {
  cursor: move;
  color: #E0ECE3;
  font-weight: bold;
  text-shadow: 1px 1px 0 #283B4E;
  font-size: 12px;
  padding: 10px 5px 5px 10px;
}
.dialog .dialogMiddleCenter {
  background-color: #fafafa;
}
.dialog .dialogTopCenterInner {
  padding-top: 7px;
}
.dialog .dialogTop {
  height: 42px;
}
.dialog .dialogTopLeft {
  width: 9px;
  background-image: url(../images/dialog/dlg_tl.png);
  background-repeat: no-repeat;
}
.dialog .dialogTopCenter {
  background-image: url(../images/dialog/dlg_top.png);
  background-repeat: repeat-x;
}
.dialog .dialogTopRight {
  width: 9px;
  background-image: url(../images/dialog/dlg_tr.png);
  background-repeat: no-repeat;
}
.dialog .dialogMiddleLeft {
  width: 9px;
  background-image: url(../images/dialog/dlg_left.png);
  background-repeat: repeat-y;
}
.dialog .dialogMiddleRight {
  width: 9px;
  background-image: url(../images/dialog/dlg_right.png);
  background-repeat: repeat-y;
}
.dialog .dialogBottom {
  height: 9px;
}
.dialog .dialogBottomLeft {
  width: 9px;
  background-image: url(../images/dialog/dlg_bl.png);
  background-repeat: no-repeat;
}
.dialog .dialogBottomCenter {
  background-image: url(../images/dialog/dlg_bottom.png);
  background-repeat: repeat-x;
}
.dialog .dialogBottomRight {
  width: 9px;
  background-image: url(../images/dialog/dlg_br.png);
  background-repeat: no-repeat;
}
.dialog .dialogContent {
  padding-top: 5px;
}
.dialog .buttonPanel {
	text-align: right;
	float: right;
}
.dialog .buttonPanel td {
	padding: 3px;
}
.dialog .buttonPanel .button {
	width: 110px;
}

.okCancelDialog {
	
}
.okCancelDialog .okCancelDialogContent {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	max-width: 600px;
	border-bottom: 1px dotted grey;
}

.errorDialog .Caption {
	padding: 10px 5px 5px 26px;
	background-image: url("../images/dialog/err_ico.png");
	background-repeat: no-repeat;
	background-position: 5px 9px;
}
.errorDialog .errorDialogContent {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	max-width: 600px;
	border-bottom: 1px dotted grey;
}

.artifactUploadDialog .artifactUploadDialogContent {
	max-width: 450px;
}
.artifactUploadDialog .message {
	padding: 5px;
}
.artifactUploadDialog .linkWrapper {
	padding: 10px 0px 10px 20px;
}
.artifactUploadDialog .pleaseWait {
	margin: 15px;
}

.growlDialog {
	border: 1px solid #fd8080;
	background: url("../images/dialog/growl_bg.png") repeat-x;
	font-size: 11px;
	width: 400px;
	height: 75px;
}
.growlDialog-hover {
	border: 1px solid #ED5C5C;
}
.growlDialog .Caption {
	height: 8px;
}
.growlDialog .growlTitleBar .close {
	margin-right: 5px;
	color: #a74b4b;
	text-decoration: none;
}
.growlDialog .growlTitle {
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
}
.growlDialog .growlMessage {
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 4px;
	line-height: 12px;
}
