.dashColumn {
	width: 100%;
}

.dashColumn tr td {
	padding: 5px;
}

.dashColumn tr td table tr td {
	padding: 0px;
}

#dash-activitiesPanel ul {
	list-style-position: inside;
	list-style-type: disc;
}

#dash-uploadPanel form td {
	padding: 3px;
}

.artifactSummaryPanel {
	padding: 5px;
	border: 1px solid #E5E2E0;
}
.artifactSummaryPanel .simpleFormPanel span.label {
	padding-right: 5px;
	font-style: italic;
	font-size: 14px;
}
.artifactSummaryPanel .simpleFormPanel input {
	width: 190px;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.artifactSummaryPanel .simpleFormPanel .placeLinkWrapper {
	padding-top: 10px;
	text-align: right;
}
