<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>S-RAMP GWT Web Application</display-name>
	
	<listener>
		<listener-class>org.overlord.sramp.ui.server.listeners.Initializer</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>HostPage</servlet-name>
		<servlet-class>org.overlord.sramp.ui.server.HostPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArtifactUpload</servlet-name>
		<servlet-class>org.overlord.sramp.ui.server.ArtifactUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LocalizationRemoteService</servlet-name>
		<servlet-class>org.overlord.sramp.ui.server.rsvcs.LocalizationRemoteService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryRemoteService</servlet-name>
		<servlet-class>org.overlord.sramp.ui.server.rsvcs.QueryRemoteService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HostPage</servlet-name>
		<url-pattern>u</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArtifactUpload</servlet-name>
		<url-pattern>/srampui/services/artifactUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocalizationRemoteService</servlet-name>
		<url-pattern>/srampui/services/i18n</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryRemoteService</servlet-name>
		<url-pattern>/srampui/services/query</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>