body {
  background-color: #eaeaea;
}

#page .closed {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.spinner {
  background-image: url("../images/spinner_16.gif");
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 20px;
}

input.sramp-date {
  cursor: pointer;
  background-color: white;
}

button.tree {
  float: left;
  width: 15px;
  padding: 0px;
  margin-right: 4px;
  cursor: pointer;
  background: none repeat scroll 0% 0% transparent;
  border: 0px none;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
  opacity: 0.4;
}
button.tree:hover {
  opacity: 0.7;
}

.btn-focus {
  color: #2da0db;
  text-shadow: 0px 1px 0px white;
}
.btn-focus:hover {
  color: #2da0db;
}
.btn-focus[disabled]:hover {
  color: rgb(51, 51, 51);
}

.btn-clear {
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.btn-filter {
  padding: 5px 0px 5px 0px;
  margin-bottom: 8px;
  width: 100%;
}

.dropdown-menu {
  z-index: 1050;
}

.menu-glass {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1040;
}

.propval-editor-popover {
  position: fixed;
}
.propval-editor-popover .overlay {
  border: 1px solid #999;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.propval-editor-popover .actions {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  float: right;
  border: 1px solid #999;
  border-top: none;
}
.propval-editor-popover .actions .action {
  float: left;
  padding: 6px;
  background-color: white;
}
.propval-editor-popover .actions .action:hover {
  background-color: #eee;
}

.growl-dialog {
  position: fixed;
  z-index: 1000;
  width: 400px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px 4px 2px 2px;
  outline: 0px none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}
.growl-dialog-error {
  color: #d00000;
}
.growl-dialog-warning {
  color: #ff5600;
}
.growl-dialog-hover {
  background-color: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.growl-dialog-header {
  padding: 3px 8px;
  background-color: rgb(245, 245, 245);
  background-image: url("../images/modal-header-bg.png");
  background-position: left top;
  background-repeat: repeat-x;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.growl-dialog-header-title {
  font-size: 13px;
  font-weight: bold;
}
.growl-dialog-body {
  position: relative;
  max-height: 200px;
  padding: 8px;
  overflow-y: auto;
  line-height: normal;
  font-size: 12px;
}

.input-name {
  width: 95%;
}
.input-value {
  width: 95%;
}

.icon-feed {
  background-image: url("../images/feed.gif");
  background-position: top left;
  width: 16px;
  height: 16px;
}

.sortable-column-header {
  color: rgb(0, 85, 128);
}
.sortable-column-icon {
  font-size: 8px;
  color: rgb(0, 85, 128);
}

.mobile-header {
  text-indent: 15px;
  background-color: #1f97d8;
  border-bottom: 2px solid #d3d3d3;
}
.mobile-header a {
  padding-top: 5px;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
}
.mobile-header span.caret {
  color: white;
  margin-top: 8px;
  margin-right: 8px;
  border-top: 4px solid white;
}

.hero-unit {
  background-color: transparent;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-radius: 0px;
  padding-bottom: 20px;
}
.hero-unit .link-list {
  font-size: 16px;
}
.hero-unit .link-list li {
  line-height: 22px;
}

.breadcrumb {
  border: 1px solid rgb(211, 211, 211);
  background-image: url("../images/s-ramp-actions-bg.png");
  background-position: top left;
  background-repeat: repeat-x;
}

#user-actions {
    padding: 10px 10px 0 0;
}

#sramp-filters {
  margin-bottom: 5px;
}

#accordion-filters .sramp-vspacer {
  min-height: 10px;
  height: 10px;
}

.s-ramp-filter-header, .sramp-filter-body {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.s-ramp-filter-header .sramp-filter-toggle {
  border-bottom: 1px solid #d3d3d3;
  background-color: #f6f6f6;
  background-image: url("../images/s-ramp-filter-header-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  text-shadow: 1px 1px #fafafa;
}
.s-ramp-filter-header .collapsed {
}
.sramp-filter-body {
}
.sramp-filter-inner {
  padding: 9px 15px 0px;
}

.sramp-filter-toggle {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
  color: #666;
  font-weight: bold;
}

.sramp-filter-list {
  margin-bottom: 10px;
}
.sramp-filter-list .icon-chevron-right {
  float: right;
  margin-top: 3px;
}
.sramp-filter-list li a {
  color: rgb(51,51,51);
}
.sramp-filter-list li a:hover {
  background-color: rgb(0, 136, 204);
  color: #fdfdfd;
  text-shadow: 0px 1px 0px #333;
}

.sramp-filter-label {
  cursor: default;
}

.s-ramp-filter-footer {
  margin-top: -20px;
}

.s-ramp-filter-footer .sramp-filter-toggle {
  border-bottom: 1px solid #d3d3d3;
  height: 12px;
  background-image: url("../images/s-ramp-filter-footer-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
}

.s-ramp-filter-footer .sramp-filter-toggle .caret {
  margin-top: 4px;
}

.sramp-search {
  padding: 5px;
}

.sramp-artifacts {
  padding: 0px;
}

.sramp-artifacts-actions, .sramp-artifact-actions {
  border: 1px solid #d3d3d3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("../images/s-ramp-actions-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}
.sramp-artifacts-actions .sramp-sp4n-label, .sramp-artifact-actions .sramp-sp4n-label {
  text-shadow: 0px 1px 0px white;
  padding: 4px 12px;
  line-height: 20px;
  display: inline;
}

.sramp-artifacts-none, .sramp-artifacts-searching {
  float: left;
  width: 100%;
  background-color: white;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
.sramp-artifacts-none span {
  padding: 10px;
  float: left;
  font-style: italic;
}
.sramp-artifacts-searching span {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  float: left;
  background-position: 16px 11px;
}

.sramp-artifact-details-title {
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px #aaa;
}

.sramp-artifact-details-version {
  margin-left: 8px;
}

.sramp-artifact-details-type {
  margin-left: 8px;
}

.sramp-artifacts-table {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.sramp-artifacts-table thead th {
  background-color: white;
}

.sramp-artifacts-table thead th, .sramp-artifacts-table tbody td {
  border-left: 1px solid #d3d3d3;
}

.table-striped tbody tr:nth-child(2n) td, .table-striped tbody tr:nth-child(2n) th {
  background-color: white;
}

.sramp-nav-tabs {
  margin-bottom: 0px;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  background-color: white;
}

.sramp-nav-tabs li a {
  color: #666;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-right: 0px;
  background-color: rgb(234, 234, 234);
}
.sramp-nav-tabs li a:hover {
  border-right: 1px solid rgb(221, 221, 221);
  background-color: rgb(234, 234, 234);
  color: #007ca3;
}
.sramp-nav-tabs .active a, .sramp-nav-tabs .active a:hover {
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid rgb(221, 221, 221);
  background-color: white;
}

.sramp-tab-content {
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 15px;
  background-color: white;
}

.artifact-details-loading {
  margin: 20px;
  padding-bottom: 20px;
}

.sramp-details-tab-spinner {
  margin-top: 20px
}

.sramp-meta-data-section {
  margin-top: 15px;
}

.sramp-meta-data-section .btn {
  margin-top: 5px;
}

.sramp-meta-data-section-header {
  font-weight: bold;
  float: left;
}

.sramp-meta-data-section-label {
  white-space: nowrap;
  min-width: 130px;
  float: left;
}

.sramp-meta-data-section-value {
  float: left;
}

.sramp-relationship-type {
  font-weight: bold;
  font-size: 85%;
  color: #666;
  text-shadow: 0px 1px 0px white;
  background-color: #f6f6f6;
  background-image: url("../images/s-ramp-table-subcat-bg.png");
  background-repeat: repeat-x;
}

.sramp-relationship-table, .sramp-history-table {
  margin-top: 15px;
}

.sramp-relationship-table thead th, .sramp-history-table thead th {
  background-image: url("../images/s-ramp-table-th-bg.png");
  background-repeat: repeat-x;
  color: #444;
  text-shadow: 0px 1px 0px white;
  padding-left: 8px;
}

.sramp-source-editor-wrapper {
  margin-top: 15px;
  background-color: #fff8f8;
  position: relative;
  height: 350px;
  border: 1px solid rgb(221, 221, 221);
}

.sramp-source-editor {
  left: 0px;
  top: 0px;
  bottom: 1px;
  right: 1px;
  background: white;
}

.ontologies-canvas {
  height: 500px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
}

.sramp-ontology-box-header {
  font-weight: bold;
  background-color: rgb(245, 240, 240);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 5px;
  height: 20px;
}

#ontology-editor {
}

#ontology-editor .sramp-ontology-editor-canvas {
  margin-bottom: 5px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#ontology-editor .sramp-ontology-tier {
  display: inline-block;
  white-space: normal;
  width: 220px;
  height: 500px;
  border: 1px solid rgb(221, 221, 221);
  margin-left: 2px;
  background-color: white;
}

#ontology-editor .sramp-ontology-tier .sramp-ontology-tier-header {
  background-color: rgb(245, 240, 240);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 5px;
  height: 20px;
  text-align: right;
}

#ontology-editor .sramp-ontology-tier .sramp-ontology-tier-header .btn {
    margin: 0;
}

.ontologies-canvas ul, #ontology-editor .sramp-ontology-tier ul {
  margin: 0px;
  overflow: auto;
  height: 465px;
}

.ontologies-canvas ul li a, #ontology-editor .sramp-ontology-tier ul li a {
  border-radius: 0px;
}

.sramp-ontology-item-actions {
  text-align: right;
}
.sramp-ontology-item-actions .btn {
	margin-right: 8px;
}

.sramp-ontology-actions {
  margin-top: 5px;
}
.sramp-ontology-actions .btn {
  margin-right: 8px;
  min-width: 80px;
}

.sramp-settings {
}

.sramp-settings .sramp-settings-sh {
  padding: 15px 5px 15px 5px;
}
.sramp-settings .sramp-settings-header {
  font-size: medium;
}
.sramp-settings .sramp-settings-message {
  font-size: small;
}
.sramp-settings .sramp-settings-header, .sramp-settings .sramp-settings-message {
  color: #666;
  text-shadow: 0px 1px 0px white;
  width: 95%;
}

.sramp-settings-properties {
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
}

.sramp-settings-property-list .nav-stacked {
  margin-bottom: 8px;
}

.sramp-settings-property-list .nav-pills .sramp-settings-property a {
  border-radius: 0px;
  border-bottom: 1px solid #d3d3d3;
  background-image: url("../images/s-ramp-filter-header-bg.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  background-color: #f6f6f6;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sramp-settings-property-list .nav-pills .active a, .sramp-settings-property-list .nav-pills .active a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 136, 204);
  background-image: none;
}

.row-fluid .sramp-settings-property-details {
  padding: 10px;
  border-left: 1px solid #d3d3d3;
  background-color: white;
  margin-left: 0px;
}

.sramp-settings-add-prop {
  margin-left: 10px;
  margin-bottom: 10px;
}

.tooltip-inner {
  background-color: #666;
  color: #fafafa;
  text-shadow: 0px 1px 0px black;
}

.tooltip.in {
  opacity: 1.0;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #666;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #666;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #666;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666;
}

footer {
  color: #666;
  text-shadow: 0px 1px 0px white;
  margin-bottom: 10px;
}

footer p {
  margin: 0px;
  padding: 0px;
}

footer hr {
  border-bottom: 1px solid #bbb;
}

.modal-header {
  padding: 1px 15px;
  background-color: #f5f5f5;
  background-image: url("../images/modal-header-bg.png");
  background-position: top left;
  background-repeat: repeat-x;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #dfdfdf;
}
.modal-header h4 {
  font-size: 110%;
  text-shadow: 0px 1px 0px white;
}
.modal-header .close {
  margin-top: 10px;
}

.sramp-filter-ontology-modal {
}
.sramp-filter-ontology-modal h4 span {
  font-size: 75%;
}
.sramp-filter-ontology-modal .modal-footer {
  padding: 5px 10px 8px 10px;
}

.classifiers-modal .modal-footer {
  padding: 5px 10px 8px 10px;
}

.modify-classifiers-dialog-ontology-selector hr {
  margin-top: 5px;
}
.modify-classifiers-dialog-ontology-selector .sramp-sp4n-label {
  text-shadow: 0px 1px 0px white;
  padding: 4px 12px;
  line-height: 20px;
  display: inline;
}


.ontology-selector-with-toolbar .select-all {
  border-bottom: 1px solid #dfdfdf;
}
.ontology-selector-with-toolbar .select-all .btn-group {
  margin-bottom: 4px;
}
.ontology-selector-with-toolbar ul {
  list-style-type: none;
}



ul.ontology-selector {
  margin-left: 5px;
  margin-top: 5px;
}
.ontology-selector input, .ontology-selector .icon {
  float: left;
  margin-right: 5px;
}
.ontology-selector .icon {
  margin-top: 3px;
}
.ontology-selector label {
  margin-bottom: 0px;
}

#fileupload-import .input-append {
  width: 100%;
}
#fileupload-import .uneditable-input {
  width: 60%;
}

#fileupload-import .input-append, #fileupload-upload .input-append {
  width: 100%;
}
#fileupload-import .uneditable-input, #fileupload-upload .uneditable-input {
  width: 60%;
}


.add-relationship-instructions {
    font-weight: bold;
}
